body {
    font-family: Arial, sans-serif;
    background: #fddbd7;
    text-align: center;
    padding-top: 60px;
}

.cards-row {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.card {
    width: 420px;
    background: #bcd679;
    padding: 20px;
    border-radius: 12px;
    display: inline-block;
    box-shadow: 0 0 8px rgba(0,0,0,0.2);
}


.block {
    background: #f7ea46;
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
    white-space: pre-line;
    font-family: monospace;
}

.panel {
    background: #fffbe6;
    padding: 15px;
    border-radius: 12px;
    margin-top: 12px;
    border: 2px solid #ffe28a;
}

.gold-frame {
    padding: 8px;
    border-radius: 50%;
    background: linear-gradient(135deg,
        #909055 0%,
        #d8d855 25%,
        #fcfc55 50%,
        #ffd700 75%,
        #6c4855 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    width: calc(350px + 6px*2 + 8px*2);
}

.gif-frame {
    padding: 2px;
    border-radius: 50%;
    background: radial-gradient(circle,#000000 0%, #484855 80%, #bcd679 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    width: calc(350px + 2px*2);
}

.gif-frame img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    object-fit: cover;
}

input {
    padding: 8px;
    margin: 5px;
    border-radius: 6px;
    border: 1px solid #aaa;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    background: #c3d02f;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
button:hover {
    background: #fff062;
}

.error {
    background: #ffb3b3;
    border: 2px solid #ff4d4d;
    color: #700;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    font-weight: bold;
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to   { opacity: 1; transform: translateY(0); }
}
